.box {
    background-color: $secondary-color;
    width: 600px;
    margin: 4em auto;
    border-radius: 5px;
    color: $black;

    h1 {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 1em;
        font-size: 1.4em;
        text-transform: uppercase;
        text-align: center;
    }
}

.feedback {
    font-size: 1.2em;
    padding: 1em;
    color: $danger;
    font-weight: bold;
    text-align: center;
}

.form-group {
    padding: 1em;
}

label {
    font-weight: bold;
    margin: 0.5em 0;
    font-size: 1.2em;
    display: block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 5px;
}

button {
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    padding: 1em;
    background: $purple;
    color: $white;
    border: none;
}

button:hover {
    transform: scale(1.1);
    transition: 0.4s;
    background-color: $pink;
}

.actions {
    width: 600px;
    margin: 2em auto;

    button {
        border-radius: 5px;
        margin: 0.5em auto;
    }
}