@import "modules/variables";

html {
    background-color: #f2f2f2;
    font-family: "Montserrat";
}

h1 {
    color: #ada074;
}

p {
    color: red;
    border: 1px solid yellow;
    weight: 2em;
    font-size: 48px;
}